PGDB_HOSTNAME=
PGDB_USERNAME=
PGDB_PASSWORD=
PGDB_DATABASE=desadb_dev

################
# AWS S3 Config
################
AWS_REGION=af-africa-1
AWS_NO_SIGN_REQUEST=yes
AWS_S3_ENDPOINT=


